.blog {
  display: flex;
  width: 100%;
  padding: 28px;
  justify-content: center;
  align-items: center;
}

.blogContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 768px;
}

.coverContainer {
  display: flex;
  width: 100%;
  height: 250px;
}

.cover {
  width: 100%;
  border-radius: 8px;
  object-fit: fill;
}

.title {
  margin-top: 32px;
}

.authorContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  margin-right: 8px;
}

.datePublished {
  font-weight: 900;
}

.blogPost {
  margin-top: 32px;
}

.blogPost p {
  margin-top: 16px;
  font-size: 24px;
}