#gradient-canvas {
  position: absolute;
  top: -17rem;
  left: 0;
  width: 100%;
  height: 50%;
  min-height: 600px;
  z-index: -1;
  --gradient-color-1: #a960ee;
  --gradient-color-2: #ff333d;
  --gradient-color-3: #90e0ff;
  --gradient-color-4: #ffcb57;
  --gradientAngle: -12deg;
  transform: skewY(var(--gradientAngle));

  @media (max-width: $mobile) {
    height: 80%;
  }
}
